<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ypcang.thirdbuy"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name="com.ypcang.thirdbuy.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx6397a9c2e4ec49ab" />
            </intent-filter>
        </activity>

        <activity android:name="net.sourceforge.simcpux.PayActivity5"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ypcang.thirdbuy.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity
            android:name="net.sourceforge.simcpux.SendToWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />

        <activity
            android:name="net.sourceforge.simcpux.AddFavoriteToWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />

        <activity
            android:name="net.sourceforge.simcpux.GetFromWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />

        <activity
            android:name="net.sourceforge.simcpux.ShowFromWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />

        <activity
            android:name="net.sourceforge.simcpux.PayActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />

        <receiver android:name="net.sourceforge.simcpux.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

    </application>

</manifest>